@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">EDI Console Simulator</h1>
    <form method="post" asp-page="Index">
        <div class="form-group">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
